
<div class="header-top">
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal"></h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="#">Қазақ</a>
      <a class="p-2 text-dark" href="#">Руский</a>
      <a class="p-2 text-dark" href="#">English</a>
<!--      <a class="p-2 text-dark" href="#">Chineese</a>-->
    </nav>
  </div>
</div>

<div class="header-top-logo">
  <div class="logophoto">
    <a routerLink="home">
    <img src="https://www.rakhat.kz/app/themes/rahkat/assets/images/logo.png" alt="">
    </a>
  </div>
  <div class="slogan">Life is tastier with us!</div>
  <div class="subslogan">since 1942</div>

</div>

<div class="menubars">
  <nav class="navbar navbar-expand-lg ">
    <div class=" navbar-collapse " id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            PRODUCTS
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
            <a class="dropdown-item" routerLink="ProductsComponent">PRODUCTS</a>
            <a class="dropdown-item" routerLink="NoveltiesComponent">Novelties</a>
            <a class="dropdown-item" routerLink="GiftsComponent">Gifts</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ABOUT COMPANY
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
            <a class="dropdown-item" routerLink="AboutComponent">ABOUT Rakhat COMPANY</a>
            <a class="dropdown-item" routerLink="OfficialsComponent">OFFICIALS</a>
            <a class="dropdown-item" routerLink="AwardsComponent">Awards and achievements</a>
          </div>
        </li>

<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--            NEWS AND PROMOTIONS-->
<!--          </a>-->
<!--          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">-->
<!--            <a class="dropdown-item" href="#">Action</a>-->
<!--            <a class="dropdown-item" href="#">Another action</a>-->
<!--            <a class="dropdown-item" href="#">Something else here</a>-->
<!--          </div>-->
<!--        </li>-->
        <li class="nav-item active">
          <a class="nav-link" routerLink="NewsComponent">NEWS AND PROMOTIONS <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            OUR ADDRESSES
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
            <a class="dropdown-item" routerLink="AddressesComponent">Head Office</a>
            <a class="dropdown-item" routerLink="BrandShopsComponent">Brand shops</a>
          </div>
        </li>
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--            OUR HISTORY-->
<!--          </a>-->
<!--          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink5">-->
<!--            <a class="dropdown-item" href="#">Our history</a>-->
<!--            <a class="dropdown-item" href="#">Another action</a>-->
<!--            <a class="dropdown-item" href="#">Something else here</a>-->
<!--          </div>-->
<!--        </li>-->
        <li class="nav-item active">
          <a class="nav-link" routerLink="HistoryComponent">OUR HISTORY <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>

</div>
