<!--<div class="row">-->
<!--  <div class="column left">-->
<div class="marggin">
<app-created-products [infoObj]="infoObj"></app-created-products>

<!--  </div>-->

<!--  <div class="column right">-->
  <br><br>

<app-creat-products (myeventEmit)="updateArray($event)" id="create"></app-creat-products>
</div>
<!--  </div>-->
<!--</div>-->



<!--<div class="row row-cols-md-3 row-cols-md-3 g-4">-->
<!--    <app-candies *ngFor="let productList of productList" [list]="productList" ></app-candies>-->
<!--</div>-->

<!--<a routerLink="list-page/add">-->
<!--    <app-creat-products (newItemEvent)="addProduct($event)"> </app-creat-products>-->
<!--</a>-->

