.title-main{
  box-sizing: inherit;
  margin: .67em 0;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #9c5e72;
  border-bottom: solid 2px #ead4ca;
  padding-bottom: 20px;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transform: translate3d(0, 0, 0);
}
