<h2>Products</h2>
<h4>Create new product: </h4>
<a class="btn btn-primary" href="#create" role="button">New</a>
<br><br>

<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Quantity</th>
    <th scope="col">Price</th>
    <th scope="col">Options</th>
    <th scope="col">More</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let i of infoObj">
    <td>{{i.Name}}</td>
    <td>{{i.Description}}</td>
    <td>{{i.Quantity}}</td>
    <td>{{i.Price}}</td>
    <td>
      <a>Edit </a>
      <a>Delete</a>
    </td>
    <td> <a [routerLink]="['detail', i.id]">View details</a></td>
  </tr>
  </tbody>
</table>

