

<!--<div *ngFor="let i of products" class='product'>-->

<!--  <td>{{i.id}}</td>-->
<!--  <td>{{i.Name}}</td>-->


<!--</div>-->


<div class="container">
<div class="main-catalog">
  <div class="main-catalog-description">
    <div class="img-container rounded">
      <img src="http://www.rakhat.kz/app/uploads/cache/2017/06/collage_catalog-1280x300-c-default.jpg" alt="">
    </div>
    <div class="desc">
      <h1 class="titlecat">Ассортимент Рахат</h1>
      <p></p>
    </div>
  </div>
</div>

<div style="margin-bottom: 35%; padding:20px">

<div *ngFor="let i of products" class="col-sm-6 col-md-4">
  <a [routerLink]="[i.href]" class="category-item">
    <div class="image-container">
      <img class="image" src="{{i.Link}}" alt="{{i.id}}">
    </div>
    <h4 class="title"><span>{{i.Name}}</span></h4>
  </a>
</div>

</div>

</div>







<!--<tr *ngFor="let i of products">-->
<!--  <td>{{i.id}}</td>-->
<!--  <td>{{i.Name}}</td>-->

<!--</tr>-->

